{"filter":false,"title":"requirements.txt","tooltip":"/clientes_microservices/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":22,"column":11},"end":{"row":22,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"e84a0a4a77e07669df4c417c7f254b04ae35c9f2","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":55},"action":"remove","lines":[" remover linha (bug): pkg-resources==0.0.0attrs==19.3.0"],"id":2},{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["",""]}],[{"start":{"row":15,"column":0},"end":{"row":15,"column":20},"action":"remove","lines":["pkg-resources==0.0.0"],"id":3},{"start":{"row":14,"column":29},"end":{"row":15,"column":0},"action":"remove","lines":["",""]}]]},"timestamp":1589936327017}